EXPO_PUBLIC_SUPABASE_URL=https://habhzvvem.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhYmh6dnZlbWdoZndraXplaGFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NjMyMDIsImV4cCI6MjA5MTEzOTIwMn0.BqEJrVkRsfKdSMkDGojrIaRxOOJ2JiqQ3WobsOUd9Y4
